$error-bg: #feeeee;
$error-color: darken($error-bg, 35);

form {
    margin-bottom: 1rem;
}
.form-label-group {
    position: relative;
    text-align: left;
    
    .form-control {
        padding: 0.75rem 1.25rem;
        border-radius: 1.5rem;
        border: 1px solid transparent;
        border-top: none;
        border-bottom: 1px solid #DDD;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
        margin-bottom: 0.5rem;
        &:focus {
            color: theme-color("dk-gray");
            background-color: #f4f9ff;
        }
    }
    
    .form-check {
        padding-left: 2.5rem;
    }
    
    input::placeholder, textarea::placeholder {
        color: #fff;
    }
    
    select.form-control {
        height: auto !important;
        & ~ label {
            visibility: hidden;
        }
    }
    
    label {
        position: absolute;
        top: 0.75rem;
        left: 1.25rem;
        display: block;
        width: 100%;
        margin-bottom: 0;
        line-height: 1.5;
        color: theme-color("dk-gray");
        border: 1px solid transparent;
        transition: all .2s ease-in-out;
        z-index: 2;
        cursor: text;
    }
    
    input:not(:placeholder-shown), select {
        padding: 1rem 1.25rem 0.5rem;
    }
    input:not(:placeholder-shown) ~ label, textarea:not(:placeholder-shown) ~ label {
        top: 0.175rem;
        font-size: 12px;
        color: #777;
    }
    input[type="checkbox"], input[type="radio"] {
        &~ label {
            position: relative;
            top: -2px;
            left: 0;
            font-size: 1rem;
            cursor: pointer;
        }
    }
    
    .parsley-errors-list {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: -0.5rem;
        left: 1.5rem;
        width: 100%;
        font-size: 1rem;
        color: red;
        min-height: 24px;
    }
}