@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/swiper/dist/css/swiper";

$theme-colors: (
    "blue": #47bfe8,
    "dk-blue": #0e4995,
    "gray": #2a3c47,
    "lt-gray": #868686,
    "navy" : #363d42
);
$font-primary: 'Quattrocento Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$transition: 0.2s ease-in-out;
//@import "animations";
//@import "forms";
h1, h2, h3, h4, h5 {
    color: theme-color('navy');
    font-weight: bold;
    font-family: $font-secondary;
    letter-spacing: 1.2px;
}
body { 
    font-family: $font-primary;
    color: theme-color('navy');
    font-size: 18px;
    a { 
        color: #000; 
        &:hover { 
            color: theme-color('blue');
            text-decoration: none;
        } 
    }
}
img {
    max-width: 100%;
}
header {
    position: relative;
    box-shadow: 0px 0px 8px 2px #242424;
    #main-header {
        justify-content: space-between;
        & div:nth-child(2) {
            align-self: center;
        }
        #header-logo {
            width: 300px;
        }
    }
    #primary-nav{
        display: flex;
        justify-content: space-between;
        align-self: center;
        ul {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 20px;
            li {
                margin-left: 40px;
                &:nth-child(1) {
                    margin-left: 0;
                }
                .nav-link-txt {
                    &::after {
                        content: '';
                        width: 0%;
                        height: 4px;
                        background-color: #0e4995;
                        display: block;
                        transition: $transition;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
                a {
                    color: theme-color('gray');
                    &:hover {
                        text-decoration: none;
                        color: theme-color('dk-blue');
                    }
                }
            }
        }
        .sub-menu {
            position: absolute;
            padding-left: 0;
            list-style: none;
            background-color: theme-color('gray'); 
            padding: 15px 15px 15px 15px;
            z-index: 10001;
            li {
                margin-left: 0;
                a {
                    color: #fff;
                    &:hover {
                        color: theme-color('blue');
                    }
                }
            }
        }
    }
}
main {
    section {
        margin: 2rem 0;
    }
}
#home-banner {
    padding: 3.5rem 0;
    margin: 0;
    background-image: url('/img/8249-Home-Banner.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    h1, h2 {
        color: #fff;
        text-shadow: 2px 2px 2px rgba(29,29,29,.85);
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    h2 {
        font-size: 1.8rem;
        font-weight: 400;
    }
}
#home-cta-icons {
    background-color: #f0f0f0; 
    margin: 0;
    .cta-icon {
        display: inline-block;
        margin: auto;
        border: solid 10px #fff;
        border-radius: 100%;
        margin-top: 25px;
        background-color: #fff;
        box-shadow: 0px 0px 8px 2px rgba(29,29,29,.85);
        img {
            width: 135px;
            padding: 15px;
            border: solid 4px theme-color('dk-blue');
            border-radius: 100%;
        }
    }
    .cta-txt {
        text-align: center;
        padding-top: 35px;
    }
}
#home-intro {
    padding: 3rem 0;
    margin: 0;
    h2 {
        color: theme-color('blue');
    }
    h3 {
        font-family: $font-primary;
        letter-spacing: 0;
    }
}
#testimonials {
    padding: 3rem 0;
    background-color: #f0f0f0;
    margin: 0;
    text-align: center;
    h2 {
        color: theme-color('blue');
    }
    h3 {
        font-family: $font-primary;
        letter-spacing: 0;
        margin-bottom: 2rem;
    }
}
#home-seo {
    padding: 3rem 0;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    h2 {
        color: theme-color('blue');
    }
    h3 {
        font-family: $font-primary;
        letter-spacing: 0;
        margin-bottom: 2rem;
    }  
}
#get-started {
    padding: 3rem 0;
    h2 {
        color: theme-color('blue');
    }
    h3 {
        font-family: $font-primary;
        letter-spacing: 0;
    } 
}
main > section {
    
}
#page-header {
    padding: 2rem;
    text-align: center;
    background-image: url('/img/8249-Banner-BKGD.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    margin-bottom: 3rem;
    h1 {
        color: theme-color('navy');
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 700;
    }
}
footer {
    padding: 5rem 0 3rem 0;
    background-color: theme-color('blue');
    font-size: 16px;
    text-align: center;
    h5 {
        text-transform: uppercase;
    }
    svg {
        width: 35px;
        margin: 0px 5px;
    }
    a {
        .st0 {
            fill: theme-color('gray');
            transition: $transition;
        }
        &:hover .st0 {
            fill: #e1e1e1;
        }
    }
    form {
        padding-top: 0px !important;
    }

}
#copyright {
    padding: 15px 0px;
    background-color: #fff;
}
a {
    color: theme-color('dk-blue');
    font-weight: 600;
    &:hover { 
        color: theme-color('blue'); 
    }
}
.btn {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 700;
    white-space: normal !important;
    line-height: auto;
    padding: 7px 45px;
    text-align: center;
    background-color: transparent;
    color: theme-color('dk-blue');
    transition: all .2s linear;
    border-radius: 35px;
    border: solid 3px theme-color('dk-blue');
    margin: 15px 0px;
    text-transform: uppercase;
    transition: $transition;
    &:hover {
        background-color: theme-color('blue');
        border-color: theme-color('blue');
        color: theme-color('dk-blue');
    }
}
.resource-btn {
    height: 450px;
    position: relative;
    text-align: center;
    background-color: theme-color('orange');
    box-shadow: -1px 0px 5px 3px rgba(100, 100, 100, 0.5);
    overflow: hidden;
    margin-bottom: 60px;
    a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .res-bkgd-wrap {
        height: 255px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        .res-bkgd {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all .2s linear;
            transform: scale(1);
            background-color: #e2e2e2;
            &.res-rx {
                background-image: url('/wp-content/uploads/Rx-Form-Resource-PDF-IMG_template.png');
            }
            &.res-specs {
                background-image: url('/wp-content/uploads/Torque-Spec-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-cement {
                background-image: url('/wp-content/uploads/Cementation-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-code {
                background-image: url('/wp-content/uploads/ADA-Code-Product-Breakdown-List-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-di {
                background-image: url('/wp-content/uploads/DI-Impression-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-pdf {
                background-image: url('/wp-content/uploads/Basic-Download-Resource-PDF-IMG_Cutout.png')
            }
        }
    }
    &:hover .res-bkgd {
        transform: scale(1.1);
    }
    h3 {
        position: absolute;
        top: 270px;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 1.7rem;
        margin: auto;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    hr {
        position: absolute;
        top: 345px;
        margin: auto;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    .btn {
        position: absolute;
        top: 370px;
        margin: auto;
        left: 25px;
        right: 25px;
        padding: 10px 0px;
        z-index: 2;
    }
}
.product-listing {
    .product-thumb {
        text-align: center;
        img {
            border: solid 10px #fff;
            border-radius: 50%;
            background-color: theme-color('gray');
            width: 90%;
            margin: auto;
            box-shadow: 0 3px 6px rgba(49,49,49,.5);
            transition: $transition;
        }
        &:hover img {
            background-color: theme-color('dk-blue');  
        }
        h4 {
            margin-top: 25px;
        }
        &:hover h4 {
            color: theme-color('dk-blue');
        }
    }
}
#mobile-nav-icon {
    #hamIcon {
        width: 50px;
        &:hover {
            cursor: pointer;
        }
        margin-left: 20px;
    }  
}
#mobile-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 100%;
    z-index: 10001;
    padding: 15px 25px;
    background-color: #000;
    transition: .5s ease-in-out;
    &.show {
        right: 0;
    }
    ul {
        color: #fff;
        li {
            a {
                color: #fff;
                font-size: 22px;
                &:hover {
                    color: theme-color('blue');
                }
            }
            .sub-menu {
                a {
                    font-size: 20px;
                }
            }
        }
    }
    #closeIcon {
        text-align: right;
        font-size: 30px;
        color: #fff;
        &:hover {
            cursor: pointer;
        }
    }
}
img.product-thumb {
        border: solid 10px #fff;
        border-radius: 50%;
        background-color: theme-color('gray');
        width: 90%;
        margin: 25px auto;
        box-shadow: 0 3px 6px rgba(49,49,49,.5);
}
/* Send Case */
.step-num {
    background-color: #f0f0f0;
    text-align: center;
    padding: 15px 15px;
    margin: 25px;
    width: 124px;
    border-radius: 50%;
    border: solid 10px #fff;
    box-shadow:  0px 0px 3px 5px #ded6d6;
    span {
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        font-size: 3rem;
        color: theme-color('blue');
        margin-right: 5px;
    }
    &.active {
        background-color: theme-color('blue');
        span {
            color: #fff;
        }
    }
    &:hover {
        cursor: pointer;
    }
}
.case-step {
    text-align: center;
    h2 {
        margin-top: 30px;
        margin-bottom: 15px; 
    }
    h3 {
        margin-bottom: 15px;
    }
    #zipcode_Field {
        width: auto;
    }
}
/* Forms */
#formContainer {
    input {
        width: 100%;
        margin: 4px 0px;
        padding: 5px 5px;
        border: solid 1px #000;
    }
    .submit {
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
        background: transparent;
        padding: 0px;
        margin: 0px;
    }
    .state {
        margin: 5px 0px;
        height: 34px;
        width: 100%;
        min-width: 65px
    }
     .message {
        width: 100%;
        margin: 4px 0px;
        height: 150px;
        border: solid 1px theme-color('dk-gray');
        padding: 5px;
    }   
}
.form-control {
    margin: 4px 0px;
    padding: 5px 5px;
    border: solid 1px #000;
    border-radius: 0px;
    font-family: inherit;
    font-size: inherit;
}
.responseMessage {
    background-color: #fff;
    margin: 5px 0px;
    padding: 15px;
    color: green;
    display: none;
    text-align: center;
}
/* Case Schedular */
#caseCal-Form {

}
.cal_key {
    float: left;
    width: auto;
    margin-left: 25px;
    td, tr {
        border: solid 1px #000;
    }
}
.result-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 15px;
}
#cal-result-column {
   grid-column: span 3; 
}
#case-calendar-wrap {
    float:left;
    padding-bottom:25px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
}
.scb-shipping-day{
    background: #A9D1FE;
}
.scb-processing-day{
    background: #C0FEBA;
}
.scb-in-lab-processing-day{
    background: #d7d8a2;
}
.scb-estimated-delivery-day{
    background: #FE9794;
}
.scb-calendar-results {
    width: 300px;
    display: none;
    background: #bbb;
    padding: 10px;
}
.scb-calender-month {
    background: #798b90 none repeat scroll 0 0;
    color: #fff;
    text-align: center;
    border-top: 1px solid #000;
}
.scb-calender-head {
    background: gray none repeat scroll 0 0;
    color: #000;
}
.scb-calender th,
.scb-calender td{
    padding: 6px 10px;
    border: none;	
}
.scb-calender {
    background: #ccc none repeat scroll 0 0;
    border-bottom: 1px solid #000;
}
.scb-holiday-day{
    background: #fcd17d none repeat scroll 0 0;   
}
#ui-datepicker-div{
    z-index: 99999999 !important;
}
.scb-form-container {
    height: 600px;
    overflow-x: hidden;
}
.cal_table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 250px;
    margin: auto;
    float: left;
}
/* Case Calendar */
.cal_table{
    th, td { 
        border: solid 1px #000;
    }
}
.month_bkdg {
    background-color:#798B90;
    color:#fff;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}
.dayNames{
    background-color:#808080;
    color:#fff; 
    text-align: center;
}
.dayNames th{ 
    font-size: 18px;
    padding: 5px 3px;
    min-width: 43px;
}
.ship_day{
    background-color:#fb5b5b;
    text-align: center;
}
.pre_proc_day {
    background-color:#fe9794;
    text-align: center;
}
.proc_day {
    background-color:#A9D1FE;
    text-align: center;
}
.holiday {
    background-color:#fcd17d;
    text-align: center;
}
.delivery_day {
    background-color:#64F556;
    text-align: center;
}
.deliv_day {
    background-color:#64F556;
    text-align: center;
}
.norm_day{
   background-color: #CCCCCC; 
   text-align: center;
}
.cal-kay {
    padding-top:5px;
    max-width:220px;
    padding-top: 10px;
    margin-left: 25px;
}
.ship_deliv {
    background: linear-gradient(135deg, #fb5b5b 0%, #fb5b5b 50%, #fbf800 50%, #fbf800 100%);
    text-align: center;
}
/* Loader Animation */
.loader {
 display:none
}
.loader,.loader:after,.loader:before {
 border-radius:50%;
 width:2.5em;
 height:2.5em;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation:load7 1.8s infinite ease-in-out;
 animation:load7 1.8s infinite ease-in-out
}
.loader {
 font-size:10px;
 margin:80px auto;
 position:relative;
 text-indent:-9999em;
 -webkit-transform:translateZ(0);
 transform:translateZ(0);
 -webkit-animation-delay:-.16s;
 animation-delay:-.16s
}
.loader:after,.loader:before {
 content:"";
 position:absolute;
 top:0
}
.loader:before {
 left:-3.5em;
 -webkit-animation-delay:-.32s;
 animation-delay:-.32s
}
.loader:after {
 left:3.5em
}
@-webkit-keyframes load7 {
 0%,80%,to {
  -webkit-box-shadow:0 2.5em 0 -1.3em;
  box-shadow:0 2.5em 0 -1.3em
 }
 40% {
  -webkit-box-shadow:0 2.5em 0 0;
  box-shadow:0 2.5em 0 0
 }
}
@keyframes load7 {
 0%,80%,to {
  -webkit-box-shadow:0 2.5em 0 -1.3em;
  box-shadow:0 2.5em 0 -1.3em
 }
 40% {
  -webkit-box-shadow:0 2.5em 0 0;
  box-shadow:0 2.5em 0 0
 }
}
/* Swiper */
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: theme-color('blue');
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: theme-color('blue');
}
/* JQuery UI */
.ui-widget-header .ui-icon {
    background-image: url("/img/ui-icons_454545_256x240.png") !important;
}
.ui-state-default {
    color: theme-color('blue');
}
.ui-state-active {
    border: 1px solid theme-color('blue') !important;
    background: theme-color('blue') !important;
}
.ui-state-default {
    background-color: #fff;
}
.modal {
    overflow: visible;
}
.modal a.close-modal {
    background-image: url('/img/modal-close.png') !important;
}
@media (min-width: 576px){
    
}
@media (min-width: 768px) {
    #page-header {
        h1 {
            font-size: 2.5rem;
        }
    }
    #home-banner {
        padding: 9rem 0;
        h1 { font-size: 4rem; }
        h2 {   font-size: 2.2rem; }
    }
    #home-cta-icons {
        .cta-icon {
            margin-top: -75px;
        }
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    header {
        #primary-nav{
            ul {
                font-size: 24px;
            }
        }
    }
}